@import 'hljs-dark.css';

h1,
h2 {
  color: #EF325E;
}

h3,
p {
  color: white;
}

a {
  color: #2E8CB9;
  text-decoration: none;
}

strong {
  color: #2E8CB9;
}

iframe {
  border: 2px solid #EBEAEA;
}

.aside p {
  color: #B2EF8D;
}


/* ----- Template styles ----- */

.remark-slide-content {
  background: #141E2B;
}

.remark-slide-number {
  color: #59A4C8;
}

.p,
.remark-inline-code {
  color: white;
}

.remark-inline-code {
  background: #05090E;
}


/* ----- Code Blocks ----- */


.has-code pre,
.has-code code {
  color: #A4D0DE;
}

.remark-code, .remark-inline-code {
  color: #ddd !important;
}

.remark-inline-code {
  color: #2B497F;
}
